.dark-style {
    background: #001529;
}
.light-style {
    background: white;
}
.site-main {
    margin: 16px;
}
.red-card {
    background: #f52338;
}
.blue-card {
    background: #1495ff;
}
.green-card {
    background: #28a720;
}
.yellow-card {
    background: #ffc515;
}
