.site-header {
    color: white;
}
.site__layout {
    background: #999;
    color: purple;
    width: 100%;
    .site__layout-main {
        margin: 16px;
    }
    .site__layout-footer {
        height: 48px;
        background: #333;
        color: purple;
    }
}
.site-main {
    margin: 16px;
}
